.footer-link-a {
  width: 100%;
  text-align: center;

  padding-top: 1em;

  cursor: pointer;

  font-size: 24px;
}

.home-description {
  margin-left: 10%;
  margin-right: 10%;
}

.home-description p {
  text-align: center;
  font-size: 24px;
}

.home-description-p {
  padding-top: 1em;
  padding-bottom: 1em;

  border-top: 2px solid white;
  border-bottom: 2px solid white;
}