.footer-link-a {
  width: 100%;
  text-align: center;

  cursor: pointer;

  font-size: 24px;
}

.home-description {
  margin-left: 10%;
  margin-right: 10%;
}

.home-description p {
  margin-left: 10%;
  margin-right: 10%;

  font-size: 24px;
}

.home-description-link {
  color: #00FFF5;
}

.home-description-p {
  padding-top: 1em;
  padding-bottom: 1em;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  border: 2px solid white;
  border-radius: 2%;
}

@media screen and (max-width: 1200px) {

  .home-description {
    margin-left: 2%;
    margin-right: 2%;
  }

  .home-description p {
    margin-left: 5%;
    margin-right: 5%;
  }

  .home-image {
    width: 100%;
  }

}

@media screen and (max-width: 726px) {

  .home-description {
    margin-left: 0;
    margin-right: 0;
  }

  .home-description p {
    margin-left: 2%;
    margin-right: 2%;
  }

}