body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  margin: 0;
  padding: 0;
}

.word-cloud-wrapper {
 /* display: flex;
 flex-direction: column; */
 height: 100%;
 width: 100%;
 /* text-align: center; */
}

.word-cloud-wrapper > div:first-child {
  background-color: white;
  margin: 2% 2%;
}

.word-cloud-wrapper svg {
  text-align: center;
  margin: 2em 0;
}

.edit-form {
  font-family: sans-serif;
}