body {
  margin: 0;
  padding: 0;
  font-family: "franklin-gothic-urw-comp",sans-serif;
  background-color: #222831;
  color: white;
}

main {
  padding-bottom: 2em;
}

.absolute-cloud-container {
  width: 100%;
  height: 100%;
}

.tag-cloud {
  background-color: white;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  width: 40%;
  
  font-family: "franklin-gothic-urw-comp",sans-serif;
  
  font-size: 24px;
  padding: 10px;


  background: white;
  border-radius: 8px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;

  cursor: pointer;
}

.footer-link-a a {
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.footer-link-a a:hover {
  color: #00FFF5;
}

@media (max-width: 800px) {

  form {
    margin-left: 2%;
    margin-right: 2%;
  }

  button {
    font-size: 16px;
  }

  label {
    font-size: 20px;
  }

}
