.nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-flex-1 {
    display: block;
}

.nav-flex-2 {
    background-color: #393E46;
}

.header-text-div {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;

    padding-bottom: 1em;
}

.header-text-div h1 {
    padding: 0;
    font-size: 64px;
    font-weight: 400;
    margin:0;
}

.header-text-inner {
    display: flex;
    justify-content: center;
    margin-right: 6%;
}

.header-title-clickable {
    cursor: pointer;
}

.header-icon {
    display: inline-block;
    text-align: center;
}

.header-icon-clickable {
    font-size: 48px;
    cursor: pointer;

    margin-right: 0.2em;
}

.header-icon-1 {
    position: relative;
    left: 38%;
}

.header-icon-2 {
    color: #00FFF5;
}

.header-span {
    display: block;
    text-align: center;
    font-size: 24px;
}

.nav {
    font-size: 36px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: center;
    text-decoration: none;
}

.nav-items {
    display: inline;
    position: relative;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 5px;
}

.nav-divider {
    color: #222831;
    padding: 5px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;

    cursor: pointer;
    transition: color 0.5s ease-in; 
    /* text-shadow: 0px 0px 4px #00FFF5; */
}

.nav-items a:hover {
    color: #00FFF5;
}

.active-header {
    display: fixed;
    top: 0;
}

@media (max-width: 1400px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-flex-1, .nav-flex-2 {
        width: 100%;
        max-height: 10em;
    }

    .nav-flex-2 {
        background-size: 90%;
        background-position: 200% 0;
    }
}

@media (max-width: 800px) {

    .header-text-div {
        margin-left: 0;
        margin-right: 0;
    }

    .header-text-div h1 {
        font-size: 36px;
    }

    .header-icon-clickable {
        font-size: 24px;
    }
    
    .header-span {
        display: block;
        text-align: center;
        font-size: 18px;
    }

   .header-text-div {
        margin-left: 0;
        margin-right: 0;
   }

   .nav {
       font-size: 24px;
   }
}

@media (max-width: 700px) {

    .nav-items {
        display:inline;
        margin-left: 0.1em;
        margin-right: 0.1em;
        padding: 5px;
    }

    .nav-flex-2 {
        background-size: 80%;
        background-position: 150% 0%;
    }
}

@media (max-width: 450px) {
    
    .header-text-div h1 {
        font-size: 30px;
    }

}