ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.cloud-list-item {
    list-style: none;

    background-color: #393E46;

    border: 1px solid white;
    border-radius: 8px;

    width: 50%;
    padding: 8px;

    margin-top: 1em;
    margin-bottom: 1em;

    font-size: 24px;

    text-align: center;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
}

.cloud-list-item-span {
    font-size: 100%;
    display: block
}

span {
    font-size: 75%
}

@media (max-width: 800px) {

    .cloud-list-item {
        width: 90%;
    }

}